@import url('https://fonts.googleapis.com/css?family=Montserrat:700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
body{
	color: #60606e;
}
h1{
	font-family: 'Montserrat', sans-serif;
	font-size: 48px;
	margin: 0;
	padding: 0;
}
h2{
	font-family: 'Montserrat', sans-serif;
	font-size: 30px;
	margin: 0;
	padding: 0;
}
h3{
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	margin: 0;
	padding: 0;
}
p{
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
}
.my-header{
	background: url('../img/bg/bg.png') no-repeat;
	background-size: cover;
}
.dropdown-toggle::after{
	display: none;
}
.dropdown-menu{
	background: none;
	min-width: 7rem;
	left: -6rem;
	border: none;
}
.dropdown-item:hover{
	background-color: #7beec7;
}
.jumbotron{
	background: none;
	text-align: center;
}
.jumbotron p{
	max-width: 555px;
	margin: 30px auto 0 auto;
	font-size: 16px;

}
@media screen and (max-width: 992px) {
	.dropdown{

	}
	.dropdown-menu{

		top: 10px;

		min-width: 100%;
		min-height: 100%;



	}
	.dropdown-item{
		background: white;
		text-align: center;
		padding: 0;
	}
	.dropdown-toggle{
		float:right;
	}
	.show{
		margin: 0 !important;
		position: absolute;
		top:0;
		right: 0;
		bottom: 0;
		left: 0;

	}
}
